Repository Krryxa/krryblog-fresh: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, stylelint --fix

feat: cdn alias import esm type
  index.html
  package.json
  vite.config.ts
Due: yarn lint

feat: add types
  src/types/others.d.ts
Due: yarn lint

feat: add valine cdn
  package.json
  vite.config.ts
Due: yarn lint

feat: add headroom cdn
  package.json
  vite.config.ts
Due: yarn lint

feat: dom undefined
  src/util/index.ts
Due: yarn lint

feat: set build dir
  public/favicon.ico
  vite.config.ts
Due: yarn lint

feat: tootip position
  src/components/section-article.vue
Due: yarn lint, stylelint --fix

feat: mitt cdn
  vite.config.ts
Due: yarn lint

feat: comment space
  src/components/blog-detail.vue
Due: yarn lint, stylelint --fix

feat: add element css
  src/main.ts
Due: yarn lint

feat: input trim
  src/components/header.vue
  src/views/manage/blog-edit.vue
  src/views/manage/login.vue
Due: yarn lint, stylelint --fix

feat: md edit style
  src/components/mavon-editor/components/auto-textarea.vue
  src/components/mavon-editor/lib/css/mavon-editor.styl
Due: yarn lint, stylelint --fix

feat: add All loading
  src/App.vue
  src/components/all-loading.vue
  src/service/axios.ts
  src/store/modules/blog/actions.ts
  src/store/modules/blog/index.ts
  src/store/modules/blog/mutations-type.ts
  src/store/modules/blog/mutations.ts
Due: yarn lint, stylelint --fix

feat: directory show
  src/components/blog-detail.vue
Due: yarn lint, stylelint --fix

feat: delete console
  src/service/axios.ts
Due: yarn lint

feat: md css
  src/components/mavon-editor/components/auto-textarea.vue
  src/components/mavon-editor/lib/css/mavon-editor.styl
Due: yarn lint, stylelint --fix

feat: back top css
  src/App.vue
  src/components/footer.vue
Due: yarn lint, stylelint --fix

feat: css style better
  src/assets/css/markdown.css
  src/components/all-loading.vue
  src/components/mavon-editor/lib/css/markdown.css
  src/components/mavon-editor/lib/css/mavon-editor.styl
Due: yarn lint, stylelint --fix

feat: code css
  src/assets/css/markdown.css
Due: stylelint --fix

feat: comment btn
  src/components/blog-detail.vue
Due: yarn lint, stylelint --fix

feat(page): add love modules
  src/components/header.vue
  src/router/index.ts
  src/service/api/index.ts
  src/views/archive/archive.vue
  src/views/home/config.ts
  src/views/manage/blog-edit.vue
Due: yarn lint, stylelint --fix

feat(footer): yarts
  src/components/footer.vue
Due: yarn lint, stylelint --fix

fix(edit): upload success json handle
  src/views/manage/modules/edit-upload.vue
Due: yarn lint, stylelint --fix

feat(router): fix router name
  src/router/index.ts
Due: yarn lint

feat(footer): copyright years
  src/components/footer.vue
Due: yarn lint, stylelint --fix

feat(edit): remove useless cdn
  vite.config.ts
Due: yarn lint

feat(detail): detail split class
  src/components/blog-detail.vue
Due: yarn lint, stylelint --fix

feat(detail): scroll style
  src/components/blog-detail.vue
Due: yarn lint, stylelint --fix

feat(detail): chained expression
  src/components/blog-detail.vue
  src/views/archive/archive.vue
Due: yarn lint, stylelint --fix

feat(detail): remark add empty
  src/views/archive/archive.vue
Due: yarn lint, stylelint --fix

feat(data): title maxLength
  src/views/manage/blog-edit.vue
Due: yarn lint, stylelint --fix

feat(archive): two num
  src/views/archive/archive.vue
Due: yarn lint, stylelint --fix

feat(script): correct script
  .eslintignore
  scripts/verify-commit-msg.js
Due: yarn lint

feat(api): url
  src/service/api/index.ts
  src/service/axios.ts
  tsconfig.json
  vite.config.ts
Due: yarn lint

feat(api): new apu
  src/assets/pic/tag.png
  src/service/api/index.ts
Due: yarn lint

feat(api): login logical
  src/components/blog-detail.vue
  src/main.ts
  src/service/api/index.ts
  src/service/axios.ts
  src/store/index.ts
  src/store/modules/user/actions.ts
  src/store/modules/user/index.ts
  src/store/modules/user/mutations-type.ts
  src/store/modules/user/mutations.ts
  src/types/others.d.ts
  src/views/manage/blog-edit.vue
  src/views/manage/blog-list.vue
  src/views/manage/login.vue
  src/views/manage/modules/personal-info.vue
  vite.config.ts
Due: yarn lint, stylelint --fix

feat(api): modify user info
  src/components/blog-detail.vue
  src/service/api/index.ts
  src/views/manage/blog-edit.vue
  src/views/manage/blog-list.vue
  src/views/manage/modules/personal-info.vue
Due: yarn lint, stylelint --fix

feat(api): delete qs
  package.json
  src/service/api/index.ts
  vite.config.ts
Due: yarn lint

Path conditions:
  yarn lint: any of: *.{js,jsx,vue,ts,tsx}
  stylelint --fix: any of: *.{vue,css,scss}
