Repository Krryxa/krryblog-fresh: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, stylelint --fix

feat(api): add logout info
  src/service/axios.ts
Due: yarn lint

feat(api): music module
  src/service/api/index.ts
  src/service/axios.ts
  src/util/index.ts
  src/views/manage/blog-edit.vue
  src/views/manage/modules/edit-upload.vue
  src/views/manage/music-list.vue
Due: yarn lint, stylelint --fix

feat(api): music module common
  src/service/axios.ts
  src/util/index.ts
  src/views/manage/music-list.vue
Due: yarn lint, stylelint --fix

feat(api): cover upload
  src/service/api/index.ts
  src/views/manage/blog-edit.vue
  src/views/manage/modules/edit-upload.vue
Due: yarn lint, stylelint --fix

feat(api): add blog and update
  src/service/api/index.ts
  src/views/manage/blog-edit.vue
Due: yarn lint, stylelint --fix

feat(api): add no login info
  src/main.ts
Due: yarn lint

feat(api): auto import css
  components.d.ts
  package.json
  src/main.ts
  src/service/axios.ts
  vite.config.ts
Due: yarn lint

feat(api): comment
  vite.config.ts
Due: yarn lint

feat(api): comment
  components.d.ts
Due: yarn lint

feat(store): Vuex is replaced by Pinia
  package.json
  src/App.vue
  src/components/all-loading.vue
  src/components/header.vue
  src/components/krry-music.vue
  src/main.ts
  src/service/axios.ts
  src/store/blog.ts
  src/store/index.ts
  src/store/modules/blog/actions.ts
  src/store/modules/blog/index.ts
  src/store/modules/blog/mutations-type.ts
  src/store/modules/blog/mutations.ts
  src/store/modules/music/actions.ts
  src/store/modules/music/index.ts
  src/store/modules/music/mutations-type.ts
  src/store/modules/music/mutations.ts
  src/store/music.ts
  src/views/manage/blog-edit.vue
  src/views/manage/blog-list.vue
  src/views/manage/login.vue
  src/views/manage/modules/personal-info.vue
  src/views/manage/music-list.vue
Due: yarn lint, stylelint --fix

feat(store): delete vuex comment
  vite.config.ts
Due: yarn lint

feat(view): config
  .env
  .env.development
  .env.production
  vite.config.ts
Due: yarn lint

feat(config): icon
  index.html
  vite.config.ts
Due: yarn lint

feat(config): delete icon
  index.html
Due: none

feat(data): change file name
  src/components/i1ndex.ts
  src/main.ts
Due: yarn lint

feat(data): change file name
  src/components/index.ts
  src/main.ts
Due: yarn lint

feat(data): static path
  .env.production
  src/main.ts
Due: yarn lint

feat(data): delete less
  package.json
Due: none

feat(data): change port
  vite.config.ts
Due: yarn lint

feat(data): path upload img
  src/views/manage/blog-edit.vue
  src/views/manage/modules/edit-upload.vue
Due: yarn lint, stylelint --fix

feat(img): margin down
  src/assets/css/markdown.css
Due: stylelint --fix

feat(back): back-top
  src/App.vue
Due: yarn lint, stylelint --fix

feat(cdn): change cdn url
  vite.config.ts
Due: yarn lint

feat(css): animation
  src/App.vue
  src/components/section-article.vue
Due: yarn lint, stylelint --fix

feat(css): add deploy.sh
  deploy.sh
Due: none

feat(css): home add 12
  src/components/section-article.vue
  src/views/home/config.ts
  src/views/home/index.vue
Due: yarn lint, stylelint --fix

feat(css): skeleton
  src/App.vue
  src/components/section-article.vue
  src/service/axios.ts
Due: yarn lint, stylelint --fix

feat(css): detail skeleton
  src/assets/css/common.scss
  src/components/blog-detail.vue
  src/components/section-article.vue
Due: yarn lint, stylelint --fix

feat(css): default margintop
  src/views/home/index.vue
Due: yarn lint, stylelint --fix

feat(css): hide showHeader
  src/components/blog-detail.vue
  src/views/blog/detail.vue
Due: yarn lint, stylelint --fix

feat(css): mounted footer
  src/App.vue
Due: yarn lint, stylelint --fix

feat(data): switch page
  src/components/section-article.vue
  src/views/blog/detail.vue
  src/views/home/config.ts
  src/views/home/index.vue
  src/views/manage/modules/personal-info.vue
Due: yarn lint, stylelint --fix

feat(data): switch sec
  src/components/section-article.vue
Due: yarn lint, stylelint --fix

feat(data): before name
  src/views/blog/detail.vue
Due: yarn lint, stylelint --fix

feat(data): reset blogLen
  src/views/home/index.vue
Due: yarn lint, stylelint --fix

feat(archive): num conver
  src/util/index.ts
  src/views/archive/archive.vue
Due: yarn lint, stylelint --fix

feat(data): change favicon
  public/favicon.ico
Due: none

feat(data): add favicon
  public/favicon_1.ico
Due: none

feat(webp): webp support
  .gitignore
  src/views/manage/blog-edit.vue
  src/views/manage/modules/edit-upload.vue
Due: yarn lint, stylelint --fix

feat(webp): upload module
  src/views/manage/blog-edit.vue
Due: yarn lint, stylelint --fix

Path conditions:
  yarn lint: any of: *.{js,jsx,vue,ts,tsx}
  stylelint --fix: any of: *.{vue,css,scss}
