Repository Krryxa/krryblog-fresh: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,vue,ts,tsx}": [
    "yarn lint"
  ],
  "*.{vue,css,scss}": [
    "stylelint --fix"
  ]
}

feat(alias): alias cdn local
  .env
  public/js-esm/axios@0.21.4.js
  public/js-esm/headroom.js@0.12.0.js
  public/js-esm/js-cookie.js
  public/js-esm/mitt@3.0.0.js
  public/js-esm/valine@1.4.16.js
  src/components/footer.vue
  vite.config.ts
Due: yarn lint, stylelint --fix

feat(alias): alias cdn local
  .env.production
  vite.config.ts
Due: yarn lint

feat(cover): compatible
  src/components/section-article.vue
Due: yarn lint, stylelint --fix

feat(section): section blog gap
  src/App.vue
Due: yarn lint, stylelint --fix

feat(data): animate path
  .eslintignore
  .lintstagedrc.json
  .stylelintignore
  index.html
  public/css/animate.css@3.7.0.css
Due: stylelint --fix

feat(data): update valine
  public/js-esm/valine@1.4.16.js
  public/js-esm/valine@1.4.18.js
  vite.config.ts
Due: yarn lint

fix(title): category title
  src/views/home/index.vue
Due: yarn lint, stylelint --fix

fix(title): back-img css
  src/assets/css/markdown.css
Due: stylelint --fix

fix(title): modify description
  src/views/archive/archive.vue
Due: yarn lint, stylelint --fix

feat(data): code optimize
  src/main.ts
Due: yarn lint

feat(data): add alinode
  deploy.sh
Due: none

feat(data): add version
  deploy.sh
Due: none

feat(chart): deploy delete music
  deploy.sh
Due: none

feat(productData): Temporarily hide comments
  src/components/blog-detail.vue
Due: yarn lint, stylelint --fix

feat(productData): title change
  index.html
  src/router/index.ts
Due: yarn lint

feat(title): back
  index.html
  src/components/blog-detail.vue
  src/router/index.ts
Due: yarn lint, stylelint --fix

feat(code): delete useless code
  src/App.vue
Due: yarn lint, stylelint --fix

feat(link): Optimizing Friendship Links
  src/assets/css/markdown.css
Due: stylelint --fix

feat(link): css style
  src/assets/css/markdown.css
Due: stylelint --fix

feat(link): css style width
  src/assets/css/markdown.css
Due: stylelint --fix

feat(link): icon adapt
  index.html
  src/assets/css/markdown.css
Due: stylelint --fix

feat(config): anime cover switch configuration
  src/components/section-article.vue
  src/service/api/index.ts
  src/views/home/index.vue
  src/views/manage/blog-list.vue
Due: yarn lint, stylelint --fix

feat(type): add number
  src/components/krry-music.vue
Due: yarn lint, stylelint --fix

feat(style): text
  src/components/blog-detail.vue
Due: yarn lint, stylelint --fix

feat(style): update stylelint
  .stylelintrc.json
  components.d.ts
  package.json
  src/assets/css/common.scss
  src/components/blog-detail.vue
  src/components/section-article.vue
  src/views/archive/archive.vue
Due: yarn lint, stylelint --fix

feat(style): lintstagedrc
  .lintstagedrc.json
Due: none

feat(style): fix style
  .stylelintrc.json
  src/components/all-loading.vue
  src/components/krry-music.vue
Due: yarn lint, stylelint --fix

feat(style): fix style
  src/assets/css/markdown.css
  src/components/footer.vue
  src/components/header.vue
  src/components/not-found.vue
  src/components/section-header.vue
Due: yarn lint, stylelint --fix

feat(style): Turns off all rules that are unnecessary or might conflict with Prettier
  .stylelintrc.json
  package.json
Due: none

feat(props): add props type
  src/components/section-header.vue
  src/views/manage/blog-edit.vue
  src/views/manage/modules/edit-upload.vue
  src/views/manage/modules/personal-info.vue
Due: yarn lint, stylelint --fix

feat(archive): remove +
  src/views/archive/archive.vue
Due: yarn lint, stylelint --fix

feat(article): top level correct
  src/components/section-article.vue
Due: yarn lint, stylelint --fix

feat(props): defineProps types
  src/components/blog-detail.vue
  src/components/section-article.vue
Due: yarn lint, stylelint --fix

feat(css): add right text
  src/assets/css/markdown.css
Due: stylelint --fix

feat(icon): website icon
  public/favicon.ico
  public/favicon_2.ico
Due: none

feat(icon): website icon2
  public/favicon.ico
Due: none

feat(link): link icon css hover
  src/assets/css/markdown.css
Due: stylelint --fix

feat(version): lock mavon version
  package.json
Due: none

feat(video): optimism component show
  src/assets/css/markdown.css
Due: stylelint --fix

feat(icon): change favicon
  public/favicon.ico
  public/favicon_3.ico
Due: none
